*{
    box-sizing: border-box;
}
.mobile{
    display: flex;
    flex-direction: column;
    width: 414px;
    background-color: #FAF9FF;
    max-height: 800px;
    height: 750px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    padding-top: 10px;
    width:100%;
    height: 100px;
    background: #ffffff;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.07);
}
.home a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.lines{
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    width: 26px;
    height: 26px;
}
.line1{
    border-bottom: 1px solid;
    background: black;
    width: 24px;
    height: 2px;
}
.line2{
    border-bottom: 1px solid;
    background: black;
    width: 24px;
    height: 2px;
}
.line3{
    border-bottom: 1px solid;
    background: black;
    width: 24px;
    height: 2px;
}
.line4{
    border-bottom: 1px solid;
    background: black;
    width: 24px;
    height: 2px;
}
.text-box{
    padding-left: 22px;
    padding-top: 20px;
    width: 150px;
    height: 60px;
}
.Welcome{
    font-size: 18px;
}
.hi{
    font-size: 10px;
    color:rgba(150, 147, 147, 1);
}
.walk-water{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
    gap: 25px;
}
.walk{
     display: flex;
     flex-direction:column;
    padding: 10px 10px;
    width: 171px;
    height: 208px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
}
.water{
    width: 171px;
    height: 208px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.walk2{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
    text-align: center;
    padding-top: 4px;  
    padding-left: 2px;
    border-radius: 5px; 
}
.main-box{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.main-step{
    width: 130px;
    height: 130px;
}
.steps1{
    border-top: 9px solid rgba(80, 64, 163, 1);
    border-bottom: 9px solid rgba(80, 64, 163, 1);
    border-right: 9px solid rgba(80, 64, 163, 1);
    border-left: 9px solid rgba(255, 255, 255, 1);
    width: 130px;
    height: 130px; 
    border-radius: 50%; 
    text-align: center;
    padding-top: 35px; 
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
}
.step-text{
    color: rgba(150, 147, 147, 1);
    font-size: 11px;
}
.thirty{
    color:rgba(36, 36, 37, 1);
    font-size: 20px;
}
.water1{
    display: flex;
    flex-direction:column;
   padding: 10px 10px;
   width: 171px;
   height: 208px;
   background: rgba(255, 255, 255, 1);
   box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
   border-radius: 5px;
}
.water2{
   display: flex;
   flex-direction: row;
   gap: 40px;
   align-items: center;
   width: 30px;
   height: 30px;
   background: rgba(255, 255, 255, 1);
   box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
   text-align: center;
   padding-top: 4px;  
   padding-left: 2px;
   border-radius: 5px; 
}
.water0{
    font-size: 17px;
}
.father-lines{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.main-lines{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 132px;
    height: 100px;
}
.vactor1{
    border-radius: 3px;
    height: 63px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor2{
    border-radius: 3px;
    height: 75px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor3{
    border-radius: 3px;
    height: 50px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor4{
    border-radius: 3px;
    height: 56px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor5{
    border-radius: 3px;
    height: 32px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor6{
    border-radius: 3px;
    height: 38px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor7{
    border-radius: 3px;
    height: 88px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor8{
    border-radius: 3px;
    height: 66px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor9{
    border-radius: 3px;
    height: 50px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor10{
    border-radius: 3px;
    height: 33px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor11{
    border-radius: 3px;
    height: 75px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.vactor12{
    border-radius: 3px;
    height: 84px;
    width: 5px;
    background: rgba(97, 147, 115, 1);
}
.main-letter{
    padding-top: 10px;
    padding-left: 5px;
}
.liter{
    font-size: 15px;
    color: rgba(150, 147, 147, 1);
}
.zero{
    font-size: 20px;
    color: rgba(36, 36, 37, 1);
}
.three-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
}
.second-box{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.first1-box{
    width: 171px;
    height: 264px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
}
.first2-box{
    width: 171px;
    height: 123px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
}
.first3-box{
    width: 171px;
    height: 123px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
}
.first1-box{
    padding-top: 10px;
    padding-left: 10px;
}
.heart2{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
    text-align: center;
    padding-top: 4px;  
    padding-left: 2px;
    border-radius: 5px; 
}
.Group{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.one-two{
    padding-left: 10px;
    padding-top: 10px;
}
.set{
    color: rgba(150, 147, 147, 1);
    font-size: 15px;
    padding-bottom: 2px;
}
.five{
    font-size: 20px;
    color: black;
}
.sleep2{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
    text-align: center;
    padding-top: 4px;  
    padding-left: 2px;
    border-radius: 5px; 
}
.first2-box{
    padding-top: 10px;
    padding-left: 10px;
}
.Calories2{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.09);
    text-align: center;
    padding-top: 4px;  
    padding-left: 2px;
    border-radius: 5px; 
}
.first3-box{
    padding-top: 10px;
    padding-left: 10px;
}
.one-2{
    padding-left: 5px;
    padding-top: 30px;
}
.set{
    color: rgba(150, 147, 147, 1);
    font-size: 15px;
    padding-bottom: 2px;
}
.five{
    font-size: 20px;
    color: black;
}
.one-3{
    padding-left: 5px;
    padding-top: 30px;
}
.set{
    color: rgba(150, 147, 147, 1);
    font-size: 15px;
    padding-bottom: 2px;
}
.five{
    font-size: 20px;
    color: black;
}
footer{
    width: 100%;
    height: 106px;
    display: flex;
    flex-direction: column;
}
.go-box{
    width: 60px;
    height: 60px;
    align-self: center;
    background:rgba(85, 70, 175, 1);
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
}
.go1{
    font-size: 24px;
    color: white;
}
.foot{
    width: 100%;
    height: 72px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.09);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
}